/* CSS admin */
@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
    box-sizing: border-box;
}

html {
	font-size:14px;
	min-height: 100vh;
}

body {
	background: #fff;
	padding:0 20px;
	color:#333;
}

.isDisabled {
	cursor: not-allowed;
	opacity: 0.5;
	pointer-events: none;
}

a.btn.btn-md.pull-left {
	width:100%;
	text-align:left;
}
.Body_section {
	height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
}

.page-header{
	margin: 20px 0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #f48b09;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f48b09;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#font_nar {
    color: #f48b09;
}
#stil1 {
	color: #111;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #ccc;
    border: 1px solid #ccc;
    font-size: 14px;
}

#stil1:hover{
	background-color: #ddd;
}

#padding {
    padding-left: 0.5cm;
}

.cont {
	padding-top:50px;
}

.navbar-right {
	float:right;
}



.ev_group {
	
}


h1 img {
	height:30px;
	width:auto;
	margin-bottom:10px;
}
/* Create two columns/boxes that floats next to each other */
nav {
	height:auto;
    background: inherit;
    padding: 10px;
	overflow: hidden;
}

.topnav {
	position:relative;
	padding: 10px 20px;

	overflow: hidden;
}

.topnav a{
	color: black;
	padding: 5px 0;
	display:block;
}

.topnav a:hover,.active:hover{
	color: #666;
}

.active {
  color: #ddd;
}

.topnav .icon {
  display: none;
}

article {
    padding: 20px;
    background: #fff;
}

article:nth-child(2){
    padding: 20px;
	height:auto;
	background: white;
	min-height: 900px;
}
/* Clear floats after the columns */
section:after {
    display: table;
    clear: both;
}

/* Style the footer */
footer {

}

.panel-footer {
	text-align:center;
}
.btn-default {
	width:82px;
}

@media screen and (max-width: 766px) {
    body {
		padding:0;
	}
	body .Body_section {
		height:auto;
	}
	.topnav a:not(:first-child), .topnav button, .noticesHome {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a,.topnav.responsive button {
		float: none;
		display: block;
		text-align: left;
	}
	
	header ul {
		top:10px !important;
		right:10px !important;
	}
	
	.topnav a {
		display: inline;
	}
	h2 {
		margin-top: 0 !important;
	}
	.icon {
		position:absolute;
		top:0;
		right:20px;
	}
}

@media only screen and (max-width: 420px){
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  
	.container-fluid {
		padding:0 !important;
	}
	article, article:nth-child(2){
		height:auto;
		min-height:550px;
		padding:10px;
	}
	body .Body_section {
		height:auto;
	}
	.forma {
		padding: 0 !important;
		margin: 0 !important;
		width:100% !important;
	}
	h1{
		font-size:25px !important;
	}
	h2 {
		font-size:20px !important;
	}
	h4{
		font-size:14px !important;
	}
	p{
		font-size:12px !important;
	}
	header h1 img {
		height:30px;
	}
	.panel-body{
		padding: 10px;
	}
	body {
		padding:0;
	}
	footer {
		margin-right: -15px !important;
		margin-left: -15px !important;
	}
	.benefit small {
		display:block;
	}
	.benefit .btn {
		float: none !important;
	}
	.ech {
		margin:0 !important;
		padding: 10px !important;
		width: 100% !important;
		word-wrap: break-word;
		
	}
	.ech .jumbotron{
		padding: 10px !important;
	}
	.ech .jumbotron>div{
		padding: 10px !important;
	}
	.ech table {
		font-size: 12px !important;
	}
	.ech table thead tr th {
		word-wrap: break-word;
	}
	div.odobrenje {
		width:100%;
	}
}

} 

.adminContent a{
	color:#336781;
}

.notices {
	margin-top:20px;
	color:#337ab7;
}

a span, a i {
	margin:5px;
	cursor:pointer;
}

.panel-body p{
	overflow-wrap: break-word;
}

.projekti {
	margin:20px 0;
}

.projekti a {
	display:block;
	margin: 10px 0;
	color:black;
}

.projekti a:hover {
	color:#555;
}

.panel {
	border:1px solid #bbb; 
	box-shadow: 5px 5px 5px #ccc;
}

/* Style the header */
header {
    background-color: inherit;
    padding: 10px 30px;
    text-align: left;
    color: #777;
	position:relative;
	border-bottom: 1px solid #eee;
}

header h1 {
	 font-size: 1.5rem;
	 margin:0;
}

h1 span {
	display:block;
}

header ul {
	position:absolute;
	bottom:0;
	right:25px;
	font-size:14px;
	list-style:none;
}

header ul li {
	display:inline-block;
	padding:0 10px;
	color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

header ul li a{
	color: #636b6f;
}
.topnav .collapsible {
	text-align:left;
	padding-left:5px;
}

.adminContent {
	padding-left: 20px;
    padding-bottom: 20px;
}
.padding20 {
	margin-bottom:20px;
}
.naslov {
	font-weight:bold;
}

.poruke {
	background:#eee;
	border:1px solid #ccc;
	box-shadow: 5px 5px 5px #ccc;
	border-radius:5px;
	padding:5px;
	display: block;
    margin: 10px 0;
	width:100%;
	text-align:left;
	padding: 5px;
	position:relative;
	transition: 0.5s;
}

.poruke:hover {
	background:#d9d9d9;
}

.poruke span {
	width:100%;
	padding-right: 10px;
	position:relative;
	display: inline-block;
}

.poruke span i {
	right: 5px;
	top:3px;
	position:absolute;

}

.collapse a {
	padding-left:10px;
}

.noticesHome {
	margin-top: 40px;
}

#table_id thead tr:first-child th{
	text-align: center;
}

#table_id #myTable tr th:last-child{
	text-align: center;
}

#table_id #myTable tr td{
	text-align: left;
}

#table_id #myTable tr td:last-child {
text-align: center;
}

.check{
	border:none;
	background-color:inherit;
	color:green;
	width:10%;
}

form {
	margin:0;
}

.slDani{
	width:80%;
	border:none;
	padding: 10px 0;
}

.form-group {
    text-align: left;
}

.uputa {
	margin: auto;
	padding: 20px;
	text-align:left;
	width:100%;
	clear:left;
}

.zahtjevi2 a i {
	color: green;
    padding: 10px;
    font-size: 1.5rem;
}

.odobrenje{
	text-align: center;
    width: 50%;
    border: 1px solid #ccc;
    margin: 40px auto;
    border-radius: 5px;
	padding: 20px;
}

.odobrenje form {
	width: 70%;
	max-width: 300px;
	margin: 20px auto;
}

.dep-check{
	color: green !important;
    border: none !important;
    background-color: inherit !important;
    font-size: 1.5rem  !important;
    margin: 0 20px  !important;
}

#myTable1 tr td {
	padding: 10px 5px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align:left;
}
.tableDep tr th {
	border-bottom: 1px solid #ccc;
	text-align:center;
}

#trazi, #trazi2  {
	border-radius:5px;
	padding: 5px;
	margin-bottom:10px;
}

a[data-method*="delete"]:hover{
	color:red;
}

.ech {
	text-align:justify;
	width: 80%;
	margin:20px auto;
	
	
}

div#table_id_wrapper {
    padding: 20px;
}

.glyphicon-remove, .fa-trash-alt {
	color: #cb0a0a;
}

.BTNbox .anketa a{
	background-color:#70a942a3;
	
}

.BTNbox .edukacija a {
	background-color:#b862c0;
}

.shedulePost {
	margin-top: 50px;
}

.shedulePost input[type=date], .shedulePost input[type=time] {
	width: 30%;
	min-width: 100px;
	max-width: 200px;
	padding: 5px;
	border-radius: 5px;
}

.shedulePost input[type=text] {
	background-color:inherit;
	border:none;
	box-shadow:none;
	margin:0;
	padding:0;	
}

footer {
	margin: 30px 0;
}

.fa-check {
	color:green;
}


.benefit {
 	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px 30px !important;
	box-shadow: 5px 5px 5px #ccc;
}

.benefit .btn {
	float:right;
	text-transform:uppercase;
	font-weight: bold;
}

.BTNbox .benefits a{
	background-color:#2fa2a4;
	color:white;
}

h3 a {
	font-size: 1.5rem !important;
	float:none !important;
}

.ech .jumbotron {
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 10px #ccc;
	background-color: inherit;
}

.ech .jumbotron>div {
	background-color:#eee;
	padding: 20px;
}

.ech .jumbotron h4 {
	text-align:center;
	font-weight: bold;
	color:#be0c0c;
}

.ech .jumbotron p {
	font-size: 14px;
}

.ech table{
	width: 100%;
	font-size: 14px;
}

.ech table thead tr th{
	text-align:center !important;
	padding: 10px 0;
}
.ev_group {
	border-bottom: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
	font-weight:bold;
	box-shadow: 5px 5px 10px #ccc;
	text-align:center;
}

.ev_question td:not(:first-child)  {
	padding-left: 20px !important;
	text-align: center;
	
}

.ech table tbody .ev_question td{
	padding: 10px 0;
}

.ech table tbody .ev_group td {
	padding: 5px 0;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left:20px;
  margin:auto;
}

span.efc_show, span.efc_hide {
	color: #0044cc;
	cursor: pointer;
	text-decoration:underline;
}

span.efc {
	display: none;
}

.efc_hide {
	display:none;
}

.dashboard_box2.oglasnik a {
	background-color: #f5f5dc;
	
}

.ads td a {
	padding-left: 20px;
}

textarea {
	width:100%;
	border-radius: 5px;
	border: 1px solid #ccc;
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
	line-height: 100%;
}