@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');
.noticeBoard > h1{
	font-family: 'Petit Formal Script', cursive;
	font-weight:bold;
	color: #337ab7;
	padding-bottom:20px;
	border-bottom:1px solid #ccc;
}

.notices {
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align:justify;
}

.notice {
	width: 40%;
	padding: 20px;
	margin: 10px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 5px 3px #ccc;
	min-height: auto !important;
	color: black;
}

img {
	display:block;
	margin: 20px 0;
	max-width:100% !important;
	height:auto !important;
	margin:auto;
	
}

@media screen and (max-width: 420px){
	.notice {
	width: 100%;
	}

}

.notice h3 {
	border-bottom:1px solid #ccc;
	text-align: center;
}

a.gumb_arhiva {
    border: 1px solid #ccc;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #ccc;
    background-color: #eee;
	float:right;
}
